body {
    font-family: Arial, sans-serif;
    color:#FFEEBA;
    padding: 20px;
    margin: 0;
    background: linear-gradient(135deg, #84D9FF, #282F62);
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.logo img {
    width: 30px;
    height: 30px;
}
.content {
    max-width: 80vw;
    margin: 0 auto;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10vh;
}
.footer a {
    color:#FFEEBA;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.footer p {
    margin: 0;
}
.back-button {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.back-button img {
    width: 30px;
    height: 30px;
}